<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parseApplicationId</key>
	<string>HNH8hU7G3Ok2Wd3DDN497J1IwwYPT3Waon9v1PB9</string>
	<key>parseClientKey</key>
	<string>3QorkrOootDlklE3a5gejLwARYkezBwnrOxEBNdE</string>
</dict>
</plist>
